@import 'styles/variables.scss';

.header {
  width: 100%;
  margin: 0;
  background-color: $header-background-color;

  .header-body {
    width: $content-width;
    margin: 0 auto;

    .header-logo {
      display: inline-block;
    }

    nav {
      display: inline-block;

      ul {
        list-style: none;

        li {
          margin: 0 10px;
          display: inline-block;
        }
      }
    }
  }
}
