@import 'styles/variables.scss';

.main-header {
  width: 1000px;
  margin: 0 auto;

  .header-logo {
    display: inline-block;
  }

  nav {
    display: inline-block;

    ul {
      list-style: none;

      li {
        margin: 0 10px;
        display: inline-block;
      }
    }
  }
}
