@import 'styles/variables.scss';

.LayoutPage {
  color: $primary-font-color;

  .content {
    .content-body {
      width: $content-width;
      margin: 0 auto;
    }
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
  }

  .hidden {
    display: none;
  }
}
