@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.LayoutPage {
  width: 100%;
  color: $primary-font-color;

  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
  }

  .hidden {
    display: none;
  }

  input,
  textarea {
    color: $primary-font-color;

    @include placeholder {
      color: #b9b9b9;
    }
  }
}
