@import 'styles/variables.scss';
@import 'styles/mixins.scss';

$header-height: 75px;

.Header {
  width: 100%;
  height: $header-height;
  margin: 0;
  background-color: $header-background-color;
  font-size: 15px;

  .body {
    width: $content-width;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    .logo {
      display: inline-block;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: $font-bold;
      margin-top: 28px;
      margin-right: 28px;

      & img {
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 5px;
      }
    }

    nav {
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;

      ul {
        list-style: none;
        margin: 8px 0;
        padding-left: 0;

        li {
          margin: 0 10px;
          display: inline-block;
        }
      }
    }

    .right {
      display: inline-block;
      float: right;
      position: relative;
    }

    .search {
      margin-right: 28px;

      input {
        width: 220px;
        height: 40px;
        padding: 12px 40px 12px 15px;
        font-size: 14px;
        border: 1px solid #cacaca;
        @include border-radius(5px);
        box-sizing: border-box;
        margin-top: 18px;

        @include placeholder {
          color: #b9b9b9;
        }
      }

      img {
        position: absolute;
        right: 11px;
        top: 27px;
      }

      img.icon {
        visibility: visible;
      }
      img.icon-invert {
        visibility: hidden;
      }
    }

    .login {
      margin-top: 28px;
    }

    .profile {
      margin-top: -4px;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  // invert
  &.invert {
    background-color: $primary-color;
    color: $primary-invert-color;

    .body {
      .logo {
        color: $primary-invert-color;
      }

      .search {
        input {
          background-color: $primary-color;
          border-color: $primary-invert-color;

          @include placeholder {
            color: rgba(255, 255, 255, 0.51);
          }
        }

        img.icon {
          visibility: hidden;
        }
        img.icon-invert {
          visibility: visible;
        }
      }
    }
  }
}
